.flex {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
}

.articulo {
    text-align: center;
    background-color: rgb(199, 199, 253);
    width: calc(33.33% - 80px);
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    margin-bottom: 40px; 
    align-items: center; 
}

.articulo h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.articulo p {
    text-align: justify;
    padding-bottom: 5px;
}

.imagen{
    width: 500px;
    height: 350px;
    padding-top: 15px;
    padding-bottom: 15px;
}